/***** Global Styles *****/

html {
  box-sizing: border-box;
  font-family: "Open Sans", helvetica, arial;
}
body{
  margin: 0;
}
.container {
  margin: 0 auto;
}
.hidden{
  visibility: hidden;
}
input{
  border: 1px solid #222;
}
button {
  width: 120px;
  border: none;
  text-transform: uppercase;
  background: white;
  border-radius: 0px;
  border: 1px solid #222;
  font-weight: 900;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat Subrayada";

}

.fadeIn, .fadeInRight, .fadeInLeft, .fadeInUp{
  animation-duration: 3s;
}


/***** Header Styles *****/

.primary-nav {
  position: fixed;
  width: 100%;
  height: 7vh;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  background: white;
  font-weight: 900;
  border-bottom: 1px solid #222;
  z-index: 1;
}

.logo {
  flex: 0 0 20%;
  text-align: center;
}

.logo i {
  font-size: 3rem;
}

.primary-nav ul {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 800;
}
@media only screen and (max-width: 600px) {
    .primary-nav ul {
      flex: 0 0 80%;
    }
}
.primary-nav a {
  text-decoration: none;
  color: #222;
}

.primary-nav a:hover {
  color: #222;
}

/***** Main section *****/

.hero {
  height: 100vh;

  background: url("img/bicycle2.jpg")bottom;
  background-size: cover;
  background-repeat: no-repeat;

}

.hero h1 {
  color: #222;
  font-family: "Montserrat Subrayada";
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: 4rem;
}

.hero input {
  padding: 0.5rem;
}
.hero-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: rgba(255,255,255,0.4);
  text-align: center;
}
.info {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
    .info {
      width: 100%;
    }
}


.info-icon {
  flex: 0 0 20%;
  text-align: center;
}

.info-icon i {
  font-size: 5rem;
  color: #222;
}

.info-description {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-description>* {
  margin: 0;
}

.proposal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.proposal div {
  flex: 0 0 30%;
  height: 300px;
}
@media only screen and (max-width: 600px) {
    .proposal div {
        flex: 0 0 80%;
        margin: 1.5rem 0;
    }
}

.proposal-alternate{
  background-color: #222;
  color: white;
}
.proposal h3 {
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-top: 0.5rem;
}

.price {
  font-weight: 900;
  font-size: 2rem;
  padding: 0.5rem;
}

.proposal div>p {
  text-align: center;
  margin: .5rem 0;
}

.proposal button {
  display: block;
  margin: 2rem auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}
.vid-title{
  text-align: center;
  margin-top: 3rem;
}
.vid-embed{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/****** Footer ******/

.main-footer{
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
  background: #222;
  height: 15vh;
  margin-top: 3rem;
}
.footer-content{
  flex-basis: 35%;
}
.main-footer ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;

}
.main-footer a {
  text-decoration: none;
  color: #fff;
}

.main-footer a:hover {
  color: #fff;
}
.main-footer p{
  margin: 0;
  margin-right: 1rem;
  font-size: 0.85rem;
  text-align: right;
  color: #fff;
}

@media only screen and (max-width: 600px) {
    .footer-content{
      flex-basis: 50%;
    }
    .main-footer p {
      margin-right: 0.3rem;
    }
}
